<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gec.teams.wechat.mapper.SysConfigMapper">

    <resultMap id="BaseResultMap" type="com.gec.teams.wechat.entity.SysConfig">
            <id property="id" column="id" jdbcType="OTHER"/>
            <result property="paramKey" column="param_key" jdbcType="VARCHAR"/>
            <result property="paramValue" column="param_value" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,param_key,param_value,
        status,remark
    </sql>
    <select id="selectAllParam" resultType="com.gec.teams.wechat.entity.SysConfig">
        SELECT  param_key,param_value FROM sys_config WHERE STATUS =1
    </select>
</mapper>
