<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gec.teams.wechat.mapper.TbCheckinMapper">

    <resultMap id="BaseResultMap" type="com.gec.teams.wechat.entity.TbCheckin">
            <id property="id" column="id" jdbcType="OTHER"/>
            <result property="userId" column="user_id" jdbcType="OTHER"/>
            <result property="address" column="address" jdbcType="VARCHAR"/>
            <result property="country" column="country" jdbcType="VARCHAR"/>
            <result property="province" column="province" jdbcType="VARCHAR"/>
            <result property="city" column="city" jdbcType="VARCHAR"/>
            <result property="district" column="district" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="risk" column="risk" jdbcType="OTHER"/>
            <result property="date" column="date" jdbcType="DATE"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,address,
        country,province,city,
        district,status,risk,
        date,create_time
    </sql>
</mapper>
