<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gec.teams.wechat.mapper.TbCheckinMapper">

    <resultMap id="BaseResultMap" type="com.gec.teams.wechat.domain.TbCheckinentity">
            <id property="id" column="id" jdbcType="OTHER"/>
            <result property="userId" column="user_id" jdbcType="OTHER"/>
            <result property="address" column="address" jdbcType="VARCHAR"/>
            <result property="country" column="country" jdbcType="VARCHAR"/>
            <result property="province" column="province" jdbcType="VARCHAR"/>
            <result property="city" column="city" jdbcType="VARCHAR"/>
            <result property="district" column="district" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="risk" column="risk" jdbcType="OTHER"/>
            <result property="date" column="date" jdbcType="DATE"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,address,
        country,province,city,
        district,status,risk,
        date,create_time
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from tb_checkin
        where  id = #{id,jdbcType=OTHER} 
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from tb_checkin
        where  id = #{id,jdbcType=OTHER} 
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.gec.teams.wechat.domain.TbCheckinentity" useGeneratedKeys="true">
        insert into tb_checkin
        ( id,user_id,address
        ,country,province,city
        ,district,status,risk
        ,date,create_time)
        values (#{id,jdbcType=OTHER},#{userId,jdbcType=OTHER},#{address,jdbcType=VARCHAR}
        ,#{country,jdbcType=VARCHAR},#{province,jdbcType=VARCHAR},#{city,jdbcType=VARCHAR}
        ,#{district,jdbcType=VARCHAR},#{status,jdbcType=TINYINT},#{risk,jdbcType=OTHER}
        ,#{date,jdbcType=DATE},#{createTime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.gec.teams.wechat.domain.TbCheckinentity" useGeneratedKeys="true">
        insert into tb_checkin
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="userId != null">user_id,</if>
                <if test="address != null">address,</if>
                <if test="country != null">country,</if>
                <if test="province != null">province,</if>
                <if test="city != null">city,</if>
                <if test="district != null">district,</if>
                <if test="status != null">status,</if>
                <if test="risk != null">risk,</if>
                <if test="date != null">date,</if>
                <if test="createTime != null">create_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">#{id,jdbcType=OTHER},</if>
                <if test="userId != null">#{userId,jdbcType=OTHER},</if>
                <if test="address != null">#{address,jdbcType=VARCHAR},</if>
                <if test="country != null">#{country,jdbcType=VARCHAR},</if>
                <if test="province != null">#{province,jdbcType=VARCHAR},</if>
                <if test="city != null">#{city,jdbcType=VARCHAR},</if>
                <if test="district != null">#{district,jdbcType=VARCHAR},</if>
                <if test="status != null">#{status,jdbcType=TINYINT},</if>
                <if test="risk != null">#{risk,jdbcType=OTHER},</if>
                <if test="date != null">#{date,jdbcType=DATE},</if>
                <if test="createTime != null">#{createTime,jdbcType=TIMESTAMP},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.gec.teams.wechat.domain.TbCheckinentity">
        update tb_checkin
        <set>
                <if test="userId != null">
                    user_id = #{userId,jdbcType=OTHER},
                </if>
                <if test="address != null">
                    address = #{address,jdbcType=VARCHAR},
                </if>
                <if test="country != null">
                    country = #{country,jdbcType=VARCHAR},
                </if>
                <if test="province != null">
                    province = #{province,jdbcType=VARCHAR},
                </if>
                <if test="city != null">
                    city = #{city,jdbcType=VARCHAR},
                </if>
                <if test="district != null">
                    district = #{district,jdbcType=VARCHAR},
                </if>
                <if test="status != null">
                    status = #{status,jdbcType=TINYINT},
                </if>
                <if test="risk != null">
                    risk = #{risk,jdbcType=OTHER},
                </if>
                <if test="date != null">
                    date = #{date,jdbcType=DATE},
                </if>
                <if test="createTime != null">
                    create_time = #{createTime,jdbcType=TIMESTAMP},
                </if>
        </set>
        where   id = #{id,jdbcType=OTHER} 
    </update>
    <update id="updateByPrimaryKey" parameterType="com.gec.teams.wechat.domain.TbCheckinentity">
        update tb_checkin
        set 
            user_id =  #{userId,jdbcType=OTHER},
            address =  #{address,jdbcType=VARCHAR},
            country =  #{country,jdbcType=VARCHAR},
            province =  #{province,jdbcType=VARCHAR},
            city =  #{city,jdbcType=VARCHAR},
            district =  #{district,jdbcType=VARCHAR},
            status =  #{status,jdbcType=TINYINT},
            risk =  #{risk,jdbcType=OTHER},
            date =  #{date,jdbcType=DATE},
            create_time =  #{createTime,jdbcType=TIMESTAMP}
        where   id = #{id,jdbcType=OTHER} 
    </update>
</mapper>
