<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gec.teams.wechat.mapper.TbPermissionMapper">

    <resultMap id="BaseResultMap" type="com.gec.teams.wechat.entity.TbPermission">
            <id property="id" column="id" jdbcType="OTHER"/>
            <result property="permissionName" column="permission_name" jdbcType="VARCHAR"/>
            <result property="moduleId" column="module_id" jdbcType="OTHER"/>
            <result property="actionId" column="action_id" jdbcType="OTHER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,permission_name,module_id,
        action_id
    </sql>
</mapper>
