<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gec.teams.wechat.mapper.TbRoleMapper">

    <resultMap id="BaseResultMap" type="com.gec.teams.wechat.entity.TbRoleentity">
            <id property="id" column="id" jdbcType="OTHER"/>
            <result property="roleName" column="role_name" jdbcType="VARCHAR"/>
            <result property="permissions" column="permissions" jdbcType="OTHER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,role_name,permissions
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from tb_role
        where  id = #{id,jdbcType=OTHER} 
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from tb_role
        where  id = #{id,jdbcType=OTHER} 
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.gec.teams.wechat.entity.TbRoleentity" useGeneratedKeys="true">
        insert into tb_role
        ( id,role_name,permissions
        )
        values (#{id,jdbcType=OTHER},#{roleName,jdbcType=VARCHAR},#{permissions,jdbcType=OTHER}
        )
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.gec.teams.wechat.entity.TbRoleentity" useGeneratedKeys="true">
        insert into tb_role
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="roleName != null">role_name,</if>
                <if test="permissions != null">permissions,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">#{id,jdbcType=OTHER},</if>
                <if test="roleName != null">#{roleName,jdbcType=VARCHAR},</if>
                <if test="permissions != null">#{permissions,jdbcType=OTHER},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.gec.teams.wechat.entity.TbRoleentity">
        update tb_role
        <set>
                <if test="roleName != null">
                    role_name = #{roleName,jdbcType=VARCHAR},
                </if>
                <if test="permissions != null">
                    permissions = #{permissions,jdbcType=OTHER},
                </if>
        </set>
        where   id = #{id,jdbcType=OTHER} 
    </update>
    <update id="updateByPrimaryKey" parameterType="com.gec.teams.wechat.entity.TbRoleentity">
        update tb_role
        set 
            role_name =  #{roleName,jdbcType=VARCHAR},
            permissions =  #{permissions,jdbcType=OTHER}
        where   id = #{id,jdbcType=OTHER} 
    </update>
</mapper>
