<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gec.teams.wechat.mapper.TbUserMapper">

    <resultMap id="BaseResultMap" type="com.gec.teams.wechat.entity.TbUser">
            <id property="id" column="id" jdbcType="OTHER"/>
            <result property="openId" column="open_id" jdbcType="VARCHAR"/>
            <result property="nickname" column="nickname" jdbcType="VARCHAR"/>
            <result property="photo" column="photo" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="sex" column="sex" jdbcType="OTHER"/>
            <result property="tel" column="tel" jdbcType="CHAR"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="hiredate" column="hiredate" jdbcType="DATE"/>
            <result property="role" column="role" jdbcType="OTHER"/>
            <result property="root" column="root" jdbcType="TINYINT"/>
            <result property="deptId" column="dept_id" jdbcType="OTHER"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,open_id,nickname,
        photo,name,sex,
        tel,email,hiredate,
        role,root,dept_id,
        status,create_time
    </sql>
    <select id="haveRootUser" resultType="java.lang.Boolean">
        SELECT IF(COUNT(*), TRUE, FALSE)
        FROM `tb_user`
        WHERE root = 1
        </select>

    <select id="searchUserPermissions" parameterType="int" resultType="string">
        SELECT p.permission_name
        FROM tb_user u
                 JOIN tb_role r ON JSON_CONTAINS(u.role,CAST(r.id AS CHAR))
                 JOIN tb_permission p ON JSON_CONTAINS(r.permissions,CAST(p.id AS CHAR))
        WHERE  u.`id`=#{userId} AND u.status= 1
    </select>
    <select id="searchUserHiredate" resultType="java.lang.String" parameterType="int">
        SELECT hiredate FROM tb_user
        WHERE id=#{userId} AND status=1
    </select>
    <select id="searchUserSummary" parameterType="int" resultType="java.util.HashMap">
        SELECT u.name, u.photo, d.dept_name AS deptName
        from tb_user u left join tb_dept d on u.dept_id = d.id
        where u.id = #{userId} AND u.status = 1
    </select>

    <!--添加用户信息-->
    <insert id="insert" parameterType="com.gec.teams.wechat.vo.TbUserVo" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO tb_user
        SET
        <if test="openId!=null">
            open_id = #{openId},
        </if>
        <if test="nickname!=null">
            nickname = #{nickname},
        </if>
        <if test="photo!=null">
            photo = #{photo},
        </if>
        <if test="name!=null">
            name = #{name},
        </if>
        <if test="sex!=null">
            sex = #{sex},
        </if>
        <if test="tel!=null">
            tel = #{tel},
        </if>
        <if test="email!=null">
            email=#{email},
        </if>
        <if test="hiredate!=null">
            hiredate = #{hiredate},
        </if>
        role = #{role},
        root = #{root},
        <if test="deptName!=null">
            dept_id = ( SELECT id FROM tb_dept WHERE dept_name = #{deptName} ),
        </if>
        status = #{status},
        create_time = #{createTime}
    </insert>
</mapper>
